.container {
    background-color: aqua;
}
.containerUser {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-bottom: 20px;
    background-color: beige;
}
.avatarFollow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80px;
    height: 100px;
}
.avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
.description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: gold;
    width: 500px;
}
.descriptionUser {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 25px;
    margin-left: 30px;
    text-align: left;
}
.userName {
    display: inline-block;
}
.userStatus {
    display: inline-block;
}
.descriptionLocation {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 25px;
    padding-left: 30px;
    text-align: right;
}
.locationCity {
    display: inline-block;
}
.locationCountry {
    display: inline-block;
}

.selectedPage {
    font-weight: bold;
    margin-right: 2px;
}
.allPage {
    margin-right: 2px;
}
