.header {
    grid-area: h;
    background-color: hotpink;
}

.header img {
    width: 50%;
    height: 60px;
    /*background-color: aquamarine;*/
}

.loginBlock {
    float: right;
    z-index: 0;
}
.loginBlock a {
    color: white;
}