.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 1200px;

  grid-template-areas: 'n h h' 'n d d' 'n p p';
  grid-template-rows: 60px 100px 1fr;
  grid-template-columns: 2fr 10fr 10fr;
}


.app-wrapper-content {
grid-area: d;
  background-color: darkorange;
}