.dialogs {
    display: grid;
    grid-template-areas: 'd m' 'd ar';
    grid-template-columns: 2fr 10fr;
    grid-template-rows: 3fr 1fr;
}
.dialogsItem {
    grid-area: d;
    padding: 10px;
}
.dialogsItem .active {
    color: gold;
}
.dialog {

}
.messages {
    grid-area: m;
    padding: 10px;
}
.message {

}

.areaAddMessage {
    grid-area: ar;
    padding: 10px;
}